@import "../../globalStyle/variable.scss";

.widgets {
  display: flex;
  margin: $spacing-lg 0;
  gap: $spacing-md;

  .widget.sm {
    height: 40vh;

    .widget-desc {
      position:absolute;
      top: 25%;
      left: 10%;
    }


  }

  .widget {
    flex: 1;
    width: 100%;
    height: 80vh;
    background: url("https://images.unsplash.com/photo-1515555230216-82228b88ea98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1452&q=80"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;

    .widget-desc {
      position:absolute;
      top: 35%;
      left: 15%;
      width: 250px;

      h4 {
        color: $text2;
        font-weight: normal;
      }

      h2 {
        margin: $spacing-md 0;
        font-weight: 600;
      }

      button {
        @include button;
      }
    }

  }
}

