@import "../../globalStyle/variable.scss";

.products__container {
  h2 {
    text-align: center;
    color: $primary;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: $spacing-lg 0;
  }

  .cards {
    display: grid;
    gap: $spacing-md;
    grid-template-columns: repeat(4,1fr);  
  
  }
  .cards-btn {
    text-align: center;
    margin-top: $spacing-lg;
    display: flex;
    justify-content: center;
    a {
      @include button;
      width: 20%;
      margin: 0, auto;
      min-width: 135px;
      max-width: 170px;
    }
  }

  .categories {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    cursor: pointer;
   
   .category {
      width: 100%;
      height: 70vh;
     
   }
    
    a {
      text-decoration: none;
      
      
      display: block;
      position: relative;
      height: inherit;
    }

    img {
      width: 100%; 
      height: inherit;
      position: absolute;
      left: 0;    
      &:hover{
        opacity: 1.5
      };
    }
    
    p {
      margin: $spacing-md 0;
      font-weight: 600;
      color: black;
      text-transform: capitalize;
      position: absolute;
      bottom: 5%;
      left: 20px;

    }
  }
}



