@import "../../globalStyle/variable.scss";

.slider {
  position: relative;
  width: 100%;
  height: auto;

  img {
   object-fit: cover;
   border-radius: 10px;
  }

  &-desc {
    display: flex;
    position: absolute;
    gap: $spacing-sm;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    button {
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: #cdcfdd;
      &.active {
        background: #000;
      }
    }
  }

}
